/* .dark-diablo-header {
    background-color: #101010;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  nav {
    display: flex;
    justify-content: space-around;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    text-decoration: none;
    color: #eebd45;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  a:hover {
    color: #fff;
  } */