.runes-table{
    display: flex;
    justify-content: center;
    
}
h2{
    
}
table {
    max-width:  500px;
    border-collapse: collapse;
    margin: 25px 0;
    background-color: #191818;
  }
  
  /* Styling for table header */
  th {
    background-color: #191818;
  }
  
  /* Styling for table cells */
  td, th {
    padding: 12px;
    border: 3px solid #ddd;
    text-align: center;
    color: goldenrod;
  }
  
  /* Alternating row colors for better readability */
  tr:nth-child(even) {
    background-color: #191818;
  }
  
  /* Hover effect on rows */
  tr:hover {
    background-color: #3b3a3a;
    
  }

  .strong-cell{
    font-size: 18px;
  }

  .runes-table-image{
    max-width: 80px;
    max-height: 60px;
    float: left;
  }

  .runes-table-cell{
    text-align: justify;
    padding: 0;
  }

  .runes-table-cell span{
    display: inline-block;
    margin-top: 20px;
  }

